<table id="karaoke_detail_history_<%= @tag %>" class="table sortable table-hover">
  <thead>
    <tr>
      <th class='center'>#</th>
      <th class='center' width='<%= Util.is_pc? ? 150 : 90 %>'>ユーザ</th>
      <th class='center' width='<%= Util.is_pc? ? 160 : 80 %>' >動画</th>
      <th class='center'>曲名</th>
      <th class='center'>歌手</th>
      <% if Util.is_pc? %>
      <th class='center' width='100'>キー</th>
      <th class='center' width='100'>採点</th>
      <th class='cell-number' width='100'>得点</th>
      <% end %>
      <% if @current_user %><th class='center' width='32'></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @histories.each_with_index do |history , idx| %>
    <tr>
      <td class='center'><%= idx + 1 %></td>
      <td class='center' width='<%= Util.is_pc? ? 150 : 90 %>'>
        <% if Util.is_pc? %>
          <%= user_link history['userinfo']['username'], history['userinfo']['screenname'] %>
        <% else %>
          <%= user_link(history['userinfo']['username'], history['userinfo']['screenname'] , true , 24 , 1) %>
        <% end %>
     </td>
      <td id='thumbnail_<%= "#{@tag}_#{idx}" %>' class='center' width='<%= Util.is_pc? ? 160 : 80 %>'>
        <span id="song_name_<%= "#{@tag}_#{idx}" %>" class="hidden"><%= h history["song_name"] %></span>
        <span id="artist_name_<%= "#{@tag}_#{idx}" %>" class="hidden"><%= h history["artist_name"] %></span>
        <script> 
          zenra.createThumbnail(
            '<%= "#{@tag}_#{idx}" %>' ,
            "<%= history['song_id'] %>" ,
            "<%= youtube_image history['song_url'] %>" ,
            "<%= history['song_url'] %>"
          )
        </script>
      </td>
      <td class='center'><%= song_link history['song_id'], history['song_name'] %></td>
      <td class='center'><%= artist_link history['artist_id'], history['artist_name'] %></td>
      <% if Util.is_pc? %>
        <td class='center' width='100'><%= history['songkey'] %></td>
        <td class='center' width='100'><%= history['scoretype_name'] %></td>
        <td class='center' width='100'><%= h history['score'] %></td>
      <% end %>
      <% if @current_user && @current_user['username'] == history['userinfo']['username'] %>
      <td class='center' width='32'>
        <img class="linkcursor" src="/image/edit.png" width="<%= Util.is_pc? ? 32 : 16 %>" onclick="register.editHistory(<%= @karaoke['id'] %> , <%= history['history_id'] %>)">
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<p class='right'><%= playlist_link @histories.select {|s| s['song_url']}.map {|s| s['song_id']} %></p>
