<h2>お問い合わせフォームからお問い合わせが届きました。</h2>
<p>題名: <%= @title %><p>
<p>お名前: <%= @name %></p>
<p>メールアドレス: <%= @mail %></p>
<%if @current_user %><p>ログインユーザ名: <%= @current_user['username'] %></p><% end %>

<div>
------------------------------------------<br>
<p><%= @contact %></p>
------------------------------------------
</div>
