<script>
function getURL(page) {
  var current = location.href;
  if (current.match(/page=/)) {
    zenra.visit(current.replace(/page=[0-9]+/g , "page=" + page));
  } else if (current.match(/\?/)) {
    zenra.visit(current + "&page=" + page);
  } else {
    zenra.visit("?page=" + page);
  }
}
</script>

<% if @pager && @pager.page_num > 1 %>
<div class='center'>
  <ul id="pager" class="pagination pointer" style="margin-top: 0">

    <li id="pager_first_page" class="<%= "disabled" if @pager.current_page == 1 %>"><a onclick="getURL(1)">«</a></li>

    <% if @pager.current_page > 1 %>
    <li id="pager_prev_page"><a onclick="getURL(<%= @pager.current_page - 1 %>)">前</a></li>
    <% end %>

    <% (@pager.current_page - 2).upto(@pager.current_page + 2) do |i| %>

    <% if i == @pager.current_page - 2 && i >= 2 %>
    <li id="pager_page_<%= i - 1 %>"><a onclick="getURL(<%= i - 1 %>)">...</a></li>
    <% end %>

    <% if i > 0 && i <= @pager.page_num %>
    <li id="pager_page_<%= i %>" class="<%= "disabled" if @pager.current_page == i %>"><a onclick="getURL(<%= i %>)"><%= i %></a></li>
    <% end %>

    <% if i == @pager.current_page + 3 && i < @pager.page_num %>
    <li id="pager_page_<%= i + 1 %>"><a onclick="getURL(<%= i + 1 %>)">...</a></li>
    <% end %>

    <% end %>

    <% if @pager.current_page < @pager.page_num %>
    <li id="pager_next_page"><a onclick="getURL(<%= @pager.current_page + 1 %>)">次</a></li>
    <% end %>

    <li id="pager_last_page" class="<%= "disabled" if @pager.current_page == @pager.page_num %>"><a onclick="getURL(<%= @pager.page_num %>)">»</a></li>
  </ul>
</div>
<% end %>
