<h3>再生リストを連続再生</h3>
<div id="player"></div>
<h3>再生リスト(<%= @songs.size %>曲)</h3>
<div id="playlist_table">
  <table class="table">
    <% @songs.values.each_with_index do |s , idx| %>
    <tr class="song-rows" id="song_row_<%= s['song_id'] %>">
      <td onclick="zenra.playlist.set(<%= idx %>)">
        <img src="<%= youtube_image s['song_url'] %>" width=64 height=36/>
      </td>
      <td><%= song_link s['song_id'] , s['song_name'] , "_blank" %></td>
    </tr>
    <% end %>
  </table>
</div>
<p class='right'><a href="<%= Util.add_get_params(:random => 1) %>">順番をシャッフル</a></p>
