<select class="selectpicker" id="score_type_selecter" name="<%= @select_name %>">
  <% @score_type_list.each do |brand , st| %>
    <optgroup label="<%= brand %>">
      <% st.each do |s| %>
        <option value="<%= s['id'] %>" <%= @current_score_type == s['id'].to_s ? 'selected' : '' %>>
          <%= s['name'] %>
        </option>
      <% end %>
    </optgroup>
  <% end %>
</select>
