<% if @info && @info.size > 0 %>

<table id='<%= @info_id %>' class='song-detail-history-table table sortable'>
  <thead>
    <th class='center cell-date'>日付</th>
    <th class='center'>内容</th>
    <th class='center'>ユーザ</th>
    <% if Util.is_pc? %>
    <th class='center'>キー</th>
    <th class='center'>採点</th>
    <th class='center'>得点</th>
    <% end %>
  </thead>
  <tbody>
    <% @info.each do |i| %>
    <tr>
      <td class='center cell-date'><%= date(i['datetime']) %></td>
      <td class='center'><%= karaoke_link i['karaoke_id'] , i['karaoke_name'] %>
      <td class='center' width='110'><%= user_link(i['username'] , i['user_screenname'] , true , 24) %></td>
      <% if Util.is_pc? %>
      <td class='center' width='60'><%= i['songkey'] %></td>
      <td class='center' width='100'><%= i['scoretype_name'] %></td>
      <td class='center' width='8%'><%= h i['score'] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<p>歌唱履歴がありません</p>

<% end %>
