<h2>歌手別歌唱回数ランキング</h2>
<%= erb :_ranking_type_link %></br>
<%= erb :_ranking_mode_link %>
<table id="artistranking_table" class="table sortable table-hover linkcursor">
  <thead>
    <tr>
      <th class='center'>順位</th>
      <th>歌手名</th>
      <th class='center sp-width-40'>回数</th>
      <th class='center sp-width-40'>曲数</th>
      <th class='center sp-width-70'>１曲あたり</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td class='center' width='15%'><%= artist['rank'] %></td>
      <td><%= artist_link artist['id'], artist['name'] %></td>
      <td class='center'><%= artist['count'] %></td>
      <td class='center'><%= artist['song_num'] %></td>
      <td class='center'><%= h(artist['count'].to_f / artist['song_num'].to_f) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

