<h2>
  <%= h @artist['name'] %>
</h2>

<p id="wiki" class="hidden">
  <span id="summary"></span>
  <a id="wikiurl">(Wikipedia引用)</a>
</p>

<div class="row">
  <div id="chart_column" class="col-xs-3">
    <%= erb :_artist_detail_songs_chart %>
    <%= erb :_artist_detail_sang_count_chart %>
  </div>
  <div id="song_list_column" class="col-xs-9">
    <%= erb :_artist_detail_songlist %>
  </div>
</div>
<%= csrftoken %>

<% if @artist['songs'].count > 0 %>
<script>
$(function(){
  // 楽曲ごとの歌唱回数円グラフを描画
  var json = $('#songs_chart_json').text();
  var data = zenra.parseJSON(json);
  zenra.createPieChart('#artist_songs_chart' , data);

  // 月ごとの歌唱回数の棒グラフを描画
  zenra.createMonthlySangCountBarChart('/ajax/artist/tally/monthly/count' , <%= @artist['id'] %> , "#sang_count_chart");

  // Wikipediaの概要を非同期で取得
  zenra.post('/ajax/artist/wiki' , {'artist': "<%= @artist['name'] %>"} , {
    success: function(json) {
      var response = zenra.parseJSON(json);
      if (response.result == 'success') {
        var summary = response.info.summary;
        var url = response.info.url;
        $('#summary').text(summary);
        $('#wikiurl').attr('href' , url);
        $('#wiki').hide().removeClass('hidden').show('slow');
      }
    }
  });
});
</script>
<% end %>
