<h2>
	<%= @artist['name'] %>
</h2>

<h4>この歌手の楽曲一覧</h4>
<table class="table table-striped">
	<thead>
		<th>曲名</th>
		<th>あなたが歌った回数</th>
		<th>みんなが歌った回数</th>
	</thead>
	<tbody>
		<% @artist['songs'].each do |song| %>
		<tr>
			<td><a href="/song/<%= song['id'] %>"><%= song['name'] %></a></td>
			<td><%= song['my_sangcount'] %></td>
			<td><%= song['sangcount'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
