<h2>
	<%= @artist['name'] %>
</h2>

<h4>この歌手の楽曲一覧</h4>
<table id="artistdetail_table" class="table sortable table-striped">
	<thead>
		<tr>
			<th class='center' width='160'>動画</th>
			<th class='center'>曲名</th>
			<th class='center'>あなたが歌った回数</th>
			<th class='center'>みんなが歌った回数</th>
		</tr>
	</thead>
	<tbody>
		<% @artist['songs'].each do |song| %>
		<tr>
			<td class='center' width='160'>
				<% if song['url'] %>
					<%= movie_image song['id'] , 160 , 90 %>
				<% else %>
					未登録
				<% end %>
			</td>
			<td class='center'><%= song_link song['id'], song['name'] %></td>
			<td class='center'><%= song['my_sangcount'] %></td>
			<td class='center'><%= song['sangcount'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
