<script>
$(function () {
  /* アイコンを変更するボタンクリックで、ファイル選択*/
  $('#change_icon_btn').click(function() {
    $('input[name=icon_file]').click();
  });
  /* ファイルが選択されたらアップロード*/
  $('input[name=icon_file]').change(function() {
    $('form#change_icon_form').submit();
  });
});
</script>

<!-- システムメッセージ -->
<% if @mod_config_result %>
  <p class="system-msg">
    <%= @mod_config_result %>
  </p>
<% end %>

<div class="config">
  <!-- アイコン設定 -->
  <div class="config-content">
    <div class="config-content-header">プロフィール</div>
    <div class="config-content-body">
      <form method="POST" id="change_icon_form" action="/config/icon" enctype="multipart/form-data">
        <div id="usericon">
          <%= user_icon @current_user['username'] , 64 , 64%>
        </div>
        <div id="userinfo">
          <div id="user_screenname"><%= @current_user['screenname'] %></div>
          <div id="user_name" class="mini">ID: <%= @current_user['username'] %></div>
        </div>
        <div id="iconuploader" class="submit-block">
          <button id="change_icon_btn" type="button" class="btn btn-primary btn-sm">アイコンを変更する</button>
          <input type="file" name="icon_file" class="hidden" accept="image/jpeg,image/png,image/gif">
          <input type="submit" name="upload_icon_file" class="hidden" value="アップロード">
        </div>
        <%= csrftoken %>
      </form>
    </div>
  </div>
<div>
