<script>
$(function () {
  /* アイコンを変更するボタンクリックで、ファイル選択*/
  $('#change_icon_btn').click(function() {
    $('input[name=icon_file]').click();
  });
  /* ファイルが選択されたらアップロード*/
  $('input[name=icon_file]').change(function() {
    $('form#change_icon_form').submit();
  });
});
</script>

<!-- システムメッセージ -->
<% if @mod_config_result %>
  <p class="system-msg">
    <%= @mod_config_result %>
  </p>
<% end %>

<div class="config">
  <!-- アイコン設定 -->
  <div class="config-content">
    <div class="config-content-header">プロフィール</div>
    <div class="config-content-body">
      <form method="POST" id="change_icon_form" action="/config/icon" enctype="multipart/form-data">
        <div id="usericon">
          <%= user_icon @current_user['username'] , 64 , 64%>
        </div>
        <div id="userinfo">
          <div id="user_screenname"><%= @current_user['screenname'] %></div>
          <div id="user_name" class="mini">ID: <%= @current_user['username'] %></div>
        </div>
        <div id="iconuploader">
          <button id="change_icon_btn" type="button" class="btn btn-primary btn-sm">アイコンを変更する</button>
          <input type="file" name="icon_file" class="hidden" accept="image/jpeg,image/png,image/gif">
          <input type="submit" name="upload_icon_file" class="hidden" value="アップロード">
        </div>
        <%= csrftoken %>
      </form>
    </div>
  </div>
  <!-- Twitter設定 -->
  <div class="config-content">
    <div class="config-content-header">Twitter設定</div>
    <div class="config-content-body">
      <div class="config-content-body-title">連携設定</div>
      <form method="POST" action="/config/twitter">
        <% if @twitter_authed %>
          <p><img src="<%= @twitter_icon %>"> <%= @twitter_username %></p>
          <div id="twitter_format">
            <div class="config-content-body-title">カラオケ登録時のツイート内容</div>
            <textarea style="width: 100%"><%= @tweet_karaoke_format %></textarea>
            <div class="config-content-body-title">歌唱履歴登録時のツイート内容</div>
            <textarea style="width: 100%"><%= @tweet_history_format %></textarea>
            <button type="submit" name="remove_oauth" class="btn btn-primary btn-sm right" >認証解除</button>
          </div>
        <% else %>
          <img src="image/twitter.png" width="28"/>
          <span>まだ認証を行っていません</span>
          <button type="submit" name="start_oauth" class="btn btn-primary btn-sm right" >認証する</button>
        <% end %>
        <%= csrftoken %>
      </form>
    </div>
  </div>
<div>
