
<% if @current_user %>

<form method="POST" action="/config/icon" enctype="multipart/form-data">
  <h3>アイコン設定</h3>
  <% if @mod_icon_result %><p class="red"><%= @mod_icon_result %></p><% end %>
  <p><%= user_icon @current_user['username'] , 48 , 48%></p>
  <input type="file" name="icon_file" accept="image/jpeg,image/png,image/gif">
  <input type="submit" name="upload_icon_file" value="アップロード">
  <%= csrftoken %>
</form>

<form method="POST" action="/config/twitter">
  <h3>Twitter連携</h3>
  <% if @twitter_authed %>
    <p>認証済み</p>
    <p><img src="<%= @twitter_icon %>"> <%= @twitter_username %></p>
    <input type="submit" name="remove_oauth" value="認証解除">
  <% else %>
    <p>
      まだ認証を行っていません
      <input type="submit" name="start_oauth" value="認証する">
    </p>
  <% end %>
  <%= csrftoken %>
</form>
<% end %>
