<h1><%= @user['screenname'] %>さんの歌唱履歴</h1>
<table id="history_table" border="1" class="table table-hover linkcursor">
	<thead>
		<tr>
			<th class='cell-datetime'>日時</th>
			<th>内容</th>
			<th>曲名</th>
			<th>歌手名</th>
			<th class='cell-number'>キー</th>
		</tr>
	</thead>
	<tbody>
		<% @histories.each do |history| %>
		<tr>
			<td><%= history['datetime'] %></td>
			<td><%= history['karaoke_name'] %></td>
			<td><%= song_link history['song'], history['song_name'] %></td>
			<td><%= artist_link history['artist'], history['artist_name'] %></td>
			<td class='center'><%= history['songkey'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

