<div class='color-box-content'>

<h3>歌唱履歴詳細</h3>

<table id='history_detail' class='table table-bordered'>
  <tr>
    <th>ユーザー</th>
    <td><%= user_link(@user['user_name'] , @user['user_screenname']) %></td>
  </tr>
  <tr>
    <th>カラオケ名</th>
    <td><%= karaoke_link(@karaoke['id'] , @karaoke['name']) %></td>
  </tr>
  <tr>
    <th>日時</th>
    <td><%= @karaoke['datetime'] %></td>
  </tr>
  <tr>
    <th>時間</th>
    <td><%= @karaoke['plan'] %></td>
  </tr>
  <tr>
    <th>店舗</th>
    <td><%= @karaoke['store_full_name'] %></td>
  </tr>
  <tr>
    <th>機種名</th>
    <td><%= @karaoke['product_full_name'] %></td>
  </tr>
  <tr>
    <th>曲名</th>
    <td><%= song_link(@history['song'] , @history['song_name']) %></td>
  </tr>
  <tr>
    <th>歌手名</th>
    <td><%= artist_link(@history['artist_id'] , @history['artist_name']) %></td>
  </tr>
  <tr>
    <th>キー</th>
    <td><%= @history['songkey'] %></td>
  </tr>
  <tr>
    <th>満足度</th>
    <td>
      <% if @history['satisfaction_level'] %>
      <% @history['satisfaction_level'].times do |i| %>
        ★
      <% end %>
      <% (10 - @history['satisfaction_level']).times do |i| %>
        ☆
      <% end %>
      <% else %>
        -
      <% end %>
    </td>
  </tr>
  <tr>
    <th>採点方法</th>
    <td>
      <%= @history['score_type_name'] %>
    </td>
  </tr>
  <tr>
    <th>得点</th>
    <td><%= @history['score'] %></td>
  </tr>
</table>

</div>

<script>
$(function() {
  var target = zenra.ispc ? '_blank' : '_parent';
  $('#history_detail a').prop('target' , target);
});
</script>
