<h2><%= user_link(@user['username'], @user['screenname']) %>さんの歌唱履歴</h2>
<p class='right' id='range'>
  <%= @history_size %> 曲中 <%= @show_from %> 〜 <%= @show_to %> 曲目を表示中
</p>

<!-- 検索フォーム -->
<%= erb :_song_list_form %>

<% if @histories.size > 0 %>
  <%= erb :_pager %>
  <div id='history_tables'>
    <% @histories.each do |history| %>
      <table class="table history-table">
        <tbody>
          <tr>
            <!-- 番号 -->
            <td class='center' width='<%= Util.is_pc? ? 160 : 120 %>'>
              <%= history_link(history['id'] , {:icon => false , :text => history['number']}) %>
            </td>
            <!-- カラオケ情報 -->
            <td colspan="2">
              <%= karaoke_link history['karaoke_id'] , date(history['karaoke_datetime']) %>
            </td>
          </tr>
          <tr>
            <!-- サムネイル -->
            <td id='thumbnail_<%= "#{history['number']}" %>' width='<%= Util.is_pc? ? 160 : 120 %>' rowspan="3">
              <span id="song_name_<%= history["number"] %>" class="hidden"><%= h history["song_name"] %></span>
              <span id="artist_name_<%= history["number"] %>" class="hidden"><%= h history["artist_name"] %></span>
              <script>
                zenra.createThumbnail(
                  '<%= "#{history["number"]}" %>' ,
                  "<%= history['song_id'] %>" ,
                  "<%= youtube_image history['song_url'] %>" ,
                )
              </script>
            </td>
            <!-- 曲名/歌手名 -->
            <td colspan="2">
              <%= song_link history['song_id'], history['song_name'] %>
              /
              <%= artist_link history['artist_id'], history['artist_name'] %>
            </td>
          </tr>
          <!-- キーと満足度 -->
          <tr>
            <td class='nowrap'>キー: <%= history['songkey'] %></td>
            <td><%= satisfaction_stars history['satisfaction_level'] %></td>
          </tr>
          <!-- 採点情報 -->
          <tr>
            <% if history['score_type'] && history['score'] %>
              <td class='nowrap'><%= @score_type_names[history['score_type']]['name'] %></td>
              <td><%= h history['score'] %></td>
            <% else %>
              <td colspan='2'>採点なし</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  <div style="clear:both"></div> <!-- 歌唱履歴一覧のfloatリセット用 -->
  <p class='right'><%= playlist_link @histories.select {|s| s['song_url']}.map {|s| s['song_id']} %></p>
  <%= erb :_pager %>
<% else %>
  歌唱履歴がありません
<% end %>
