<h1><%= @user['screenname'] %>さんの歌唱履歴</h1>
<table border="1" class="table table-hover linkcursor">
	<thead>
		<tr>
			<th>日時</th>
			<th>内容</th>
			<th>歌手名</th>
			<th>曲名</th>
			<th>キー設定</th>
		</tr>
	</thead>
	<tbody>
		<% @histories.each do |history| %>
		<tr>
			<td><%= history['datetime'] %></td>
			<td><%= history['karaoke_name'] %></td>
			<td><a href="/song/<%= history['song'] %>"><%= history['song_name'] %></a></td>
			<td><a href="/artist/<%= history['artist'] %>"><%= history['artist_name'] %></a></td>
			<td><%= history['songkey'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

