
<div class="container-fluid">
  <div id="div_top_column" class="row">

    <!-- PCここから -->
    <% if Util.is_pc? %>
    <!-- 左カラム -->
    <div class="col-xs-2 center">
      <h2><%= h @user['screenname'] %></h2>
      <div id="top_my_icon">
        <a class='pointer' href="/user/userpage">
          <%= user_icon @user['username'] , '100%' , '100%' %>
        </a>
      </div>
      <div id="div_myprofile">
        <% if @has_karaoke %>
          <a href="/karaoke/recent">直近のカラオケ</a>
        <% end %>
      </div>
      <h3 class='center'>友達の記録</h3>
      <%= erb :_timeline %>
    </div>
    <!-- 右カラム -->
    <div class="col-xs-10">
      <p class="center"><a href="/"><img style="margin: -40px" src="/image/pankara.png" width="550px"></a></p>
      <div id='mini-calendar'></div>
    </div>
    <!-- PCここまで -->

    <!-- スマートフォンここから -->
    <% else %>
    <div class='center'>
      <p class="center"><a href="/"><img style="margin: -25px" src="/image/pankara.png" width="100%"></a></p>
      <h2><%= h @user['screenname'] %></h2>
      <div id="top_my_icon">
        <%= user_icon @user['username'] , '100%' , '100%' %>
      </div>
      <div id="div_myprofile">
        <p>
          前回のカラオケ<br>
          <% if @recent_karaoke %>
            <%= karaoke_link @recent_karaoke['id'] , @recent_karaoke['datetime'] %>
          <% else %>
            記録がありません
          <% end %>
        </p>
      </div>
      <div id='mini-calendar'></div>
      <h3 class='center'>友達の記録</h3>
      <%= erb :_timeline %>
      <div style="margin-bottom: 120px"></div>
    </div>
    <% end %>
    <!-- スマートフォンここまで -->
  </div>
  <%= erb :_bathtowel %>
</div>

<script>$(function(){ zenra.calendar(); });</script>
