<script type='text/javascript'>$(function(){ bathtowel.init();});</script>

<div class="container-fluid">
  <div id="div_top_column" class="row">
    <!-- 左カラム -->
    <div class="col-xs-2 center">
      <h1>Menu</h1>
      <div id="top_my_icon">
        <%= user_icon @user['username'] , '100%' , '100%' %>
      </div>
      <div id="div_myprofile">
        <p>ユーザ名 <%= @user['screenname'] %></p>
        <p>
          前回のカラオケ<br>
          <% if @recent_karaoke %>
            <%= karaoke_link @recent_karaoke['id'] , @recent_karaoke['datetime'] %>
          <% else %>
            記録がありません
          <% end %>
        </p>
      </div>
      <img src="image/pandalin.png" alt="マスコットキャラクター" width='256px'>
    </div>
    <!-- 中央カラム -->
    <div class="col-xs-7">
      <h1 class="center">March</h3>
    </div>
    <!-- 右カラム -->
    <div class="col-xs-3">
      <h1 class='center'>TimeLine</h1>
      <%= erb :_timeline %>
    </div>
    <!-- 動画垂れ流しエリア -->
    <div id="bathtowel_div">
      <ul id="slider">
        <% @song_list.each_with_index do |song , idx| %>
          <li id="thumbnail_<%= idx %>" class='bathtowel-li'>
            <script>
              zenra.createThumbnail(
                "<%= idx %>" ,
                "<%= song['id'] %>" ,
                "<%= song['name'] %>" ,
                "<%= song['artist'] %>" ,
                "<%= youtube_image song['url'] %>" ,
                "<%= song['url'] %>"
              );
            </script>
          </li>
        <% end %>
      </ul>
    </div>
</div>
