<div class="container-fluid">
  <div id="div_top_column" class="row">
    <!-- 左カラム -->
    <div class="col-xs-2 center">
      <h1>Menu</h1>
      <div id="top_my_icon">
        <%= user_icon @user['username'] , '100%' , '100%' %>
      </div>
      <div id="div_myprofile">
        <p>ユーザ名 <%= h @user['screenname'] %></p>
        <p>
          前回のカラオケ<br>
          <% if @recent_karaoke %>
            <%= karaoke_link @recent_karaoke['id'] , @recent_karaoke['datetime'] %>
          <% else %>
            記録がありません
          <% end %>
        </p>
      </div>
      <img src="image/satou1.png" alt="マスコットキャラクター" width='196px'>
    </div>
    <!-- 中央カラム -->
    <div class="col-xs-7">
      <h1 class="center">March</h1>
      <div class='center'>
        <img style="text-align: center" src="/image/kaeru.png" width='270px' height=auto>
      </div>
    </div>
    <!-- 右カラム -->
    <div class="col-xs-3">
      <h1 class='center'>TimeLine</h1>
      <%= erb :_timeline %>
    </div>
    <!-- 動画垂れ流しエリア -->
    <div id="bathtowel_div">
      <ul id="slider">
        <% @song_list.each_with_index do |song , idx| %>
          <li id="thumbnail_<%= idx %>" class='bathtowel-li'>
            <span id="song_name_<%= idx %>" class="hidden"><%= h song['name'] %></span>
            <span id="artist_name_<%= idx %>" class="hidden"><%= h song['artist'] %></span>
            <script>
              zenra.createThumbnail(
                "<%= idx %>" ,
                "<%= song['id'] %>" ,
                "<%= youtube_image song['url'] %>"
              );
            </script>
          </li>
        <% end %>
      </ul>
    </div>
</div>
<script type='text/javascript'>bathtowel.init();</script>
