<h1><%= @user['screenname'] %>さんのカラオケ記録一覧</h1>
<table border="1" class="table sortable table-hover linkcursor">
	<thead>
		<tr>
			<th class='cell-datetime'>日時</th>
			<th>内容</th>
			<th class='cell-number'>時間</th>
			<th>お店</th>
			<th>機種</th>
		</tr>
	</thead>
	<tbody>
		<% @karaoke_list.each do |karaoke| %>
		<tr onclick="location.href='/karaoke/detail/<%= karaoke['id'] %>'">
			<td><%= karaoke['datetime'] %></td>
			<td><%= karaoke['name'] %></td>
			<td class='center'><%= karaoke['plan'] %></td>
			<td><%= karaoke['store_name'] %> <%= karaoke['branch_name'] %></td>
			<td><%= karaoke['brand_name'] %>(<%= karaoke['product_name'] %>)</td>
		</tr>
		<% end %>
	</tbody>
</table>

