<h4><%= @karaoke['name'] %></h4>
<table border="1" class="table table-hover linkcursor">
	<thead>
		<tr>
			<th class='cell-datetime'>日時</th>
			<th class='cell-number'>時間</th>
			<th>お店</th>
			<th>機種</th>
			<th>メンバー</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @karaoke['datetime'] %></td>
			<td class='center'><%= @karaoke['plan'] %></td>
			<td><%= @karaoke['store_name'] %></td>
			<td><%= @karaoke['product_name'] %></td>
			<td>
				<% @karaoke['members'].each do |member| %>
					<span style="margin-left: 6px">
						<%= user_link member['username'], member['screenname'] %>
					<span>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>

<h4>歌唱履歴</h4>
<table border="1" class="table table-hover linkcursor">
	<thead>
		<tr>
			<th>ユーザー</th>
			<th>曲名</th>
			<th>歌手名</th>
			<th class='cell-number'>キー</th>
			<th>採点モード</th>
			<th class='cell-number'>採点</th>
		</tr>
	</thead>
	<tbody>
		<% @karaoke.histories.each do |history| %>
		<tr>
			<td><%= user_link history['userinfo']['username'], history['userinfo']['screenname'] %></td>
			<td><%= song_link history['song_id'], history['song_name'] %></td>
			<td><%= artist_link history['artist_id'], history['artist_name'] %></td>
			<td class='center'><%= history['songkey'] %></td>
			<td><%= history['score_type'] %></td>
			<td class='center'><%= h history['score'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

