
<% if Util.is_pc? %><h1><% end %>
  <% if @target_user %><%= h @target_user['screenname'] %>さんの<% end %>カラオケ一覧
<% if Util.is_pc? %></h1><% end %>

<% if @karaoke_list.size > 0 %>
  <div class='right'>全<span id="karaoke_num"><%= @karaoke_list.size %></span>件</div>
  <table id="karaokelist_table" class="table sortable table-hover linkcursor">
    <thead>
      <tr>
        <th class='cell-date'>日時</th>
        <th>内容</th>
        <% if Util.is_pc? %>
        <th class='center' width='80'>時間</th>
        <th>お店</th>
        <th>機種</th>
        <% end %>
        <th>メンバー</th>
        <% if Util.is_pc? && @target_user && @current_user && @target_user['username'] == @current_user['username'] %>
          <th class='center' width="60">通知</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @karaoke_list.each do |karaoke| %>
      <tr onclick="zenra.visit('/karaoke/detail/<%= karaoke['id'] %>')">
        <td class='cell-date'><%= date(karaoke['datetime']) %></td>
        <td><%= h karaoke['name'] %></td>
        <% if Util.is_pc? %>
        <td class='center'><%= karaoke['plan'] %></td>
        <td><%= h karaoke['store_name'] %> <%= h karaoke['branch_name'] %></td>
        <td><%= karaoke['brand_name'] %>(<%= karaoke['product_name'] %>)</td> 
        <% end %>
        <!-- 参加メンバー -->
        <td>
          <% karaoke['members'].each do |member| %>
            <span style="display:none"><%= h member['screenname'] %></span>
            <% if Util.is_pc? %>
              <%= user_icon member['username'] , 32 , 32 %>
            <% else %>
              <%= user_icon member['username'] , 24 , 24 %>
            <% end %>
          <% end %>
        </td>
        <!-- 通知アイコン列 -->
        <% if Util.is_pc? && @target_user && @current_user && @target_user['username'] == @current_user['username'] %>
        <td class='center' width="60">
          <% if karaoke['incomplete_price'] %>
            <img src="/image/alert.png" width="22" title="料金が入力されていません">
          <% elsif karaoke['incomplete_memo'] %>
            <img src="/image/alert.png" width="22" title="感想が入力されていません">
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  カラオケの記録がありません
<% end %>

<script>$(function(){$("[title]").tooltip({});});</script>
