<div style="margin-bottom: 20px">
  <h3 class='inline'><%= h @karaoke['name'] %></h3>
</div>

<table id="karaoke_detail_description" class='table'>
  <thead style="background-color: rgb(255,255,204)">
    <tr>
      <th class='center cell-datetime'>日時</th>
      <th class='center cell-number'>時間</th>
      <th class='center'>お店</th>
      <th class='center'>機種</th>
      <th class='center'>歌唱数</th>
      <% if @current_user %>
      <th class='center'>編集</th>
      <th class='center'>追加</th>
      <% end %>
    </tr>
  </thead>
  <tbody style="background-color: white">
    <tr>
      <td class='center'><%= @karaoke['datetime'].to_s.split(' ')[0] %></td>
      <td class='center'><%= @karaoke['plan'] %></td>
      <td class='center'><%= h @karaoke['store_full_name'] %></td>
      <td class='center'><%= @karaoke['product_name'] %></td>
      <td class='center'><%= @karaoke.histories.count %></td>
      <% if @current_user %>
      <td class='center'>
        <img id='editkaraoke' style="margin-left:5px; margin-bottomo:8px" 
          class="linkcursor" src="/image/edit.png" width="32" 
          onclick="register.editKaraoke(<%= @karaoke['id'] %>)">
      </td>
      <td class='center'>
        <img id="create_history_image" src="/image/edit.png" class="linkcursor" width="32" onclick="register.createHistory(<%= @karaoke['id'] %>)"> 
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<div id="karaoke_detail_tabs" style="display: none;">
  <ul>
    <li>
      <a href="#tabs-all" id="tab_all">全員</a>
    </li>
    <% @karaoke['members'].each do |member| %>
    <li>
      <a href="#tabs-<%= member['userid'] %>" id="tab_<%= member['userid'] %>">
        <%= user_icon(member['username'] , 20 , 20) %>
        <%= member['screenname'] %>
      </a>
    </li>
    <% end %>
  </ul>
  <div id="tabs-all">
    <div class="row">
      <div class="karaoke-result-block center">
        <p class='description'>歌った曲数</p>
        <span id='sang_count_all' class='result center orange'><%= @karaoke['sang_count'] %></span>
        <span class='orange'>曲</span>
      </div>
      <div class="karaoke-result-block center">
        <p class='description'>歌った歌手数</p>
        <span id='sang_artist_count_all' class='result orange'><%= @karaoke['artist_count'] %></span>
        <span class='orange'>組</span>
      </div>
      <div class="karaoke-result-block center">
        <p class='description'>最高得点</p>
        <span id='max_score_all' class='result orange'><%= h @karaoke['max_score'] %></span>
        <span class='orange'>点</span>
      </div>
      <div class="karaoke-result-block center">
        <p class='description'>平均得点</p>
        <span id='avg_score_all' class='result orange'><%= h @karaoke['avg_score'] %></span>
        <span class='orange'>点</span>
      </div>
    </div>
    <% @histories = @karaoke.histories %>
    <% @tag = "all" %>
    <div id="history_all">
    <%= erb :_historytable %>
    </div>
  </div>
  <% @karaoke['members'].each do |member| %>
  <div id="tabs-<%= member['userid'] %>">
    <div class="row">
      <div class="karaoke-result-block center">
        <p class='description'>歌った曲数</p>
        <span id="sang_count_<%= member['userid'] %>" class='result center orange'><%= member['sang_count'] %></span>
        <span class='orange'>曲</span>
      </div>
      <div class="karaoke-result-block center">
        <p class='description'>歌った歌手数</p>
        <span id="sang_artist_count_<%= member['userid'] %>" class='result orange'><%= member['artist_count'] %></span>
        <span class='orange'>組</span>
      </div>
      <div class="karaoke-result-block center">
        <p class='description'>最高得点</p>
        <span id="max_score_<%= member['userid'] %>" class='result orange'><%= h member['max_score'] %></span>
        <span class='orange'>点</span>
      </div>
      <div class="karaoke-result-block center">
        <p class='description'>平均得点</p>
        <span id="avg_score_<%= member['userid'] %>" class='result orange'><%= h member['avg_score'] %></span>
        <span class='orange'>点</span>
      </div>
    </div>
    <div class="row">
      <% if @current_user and @current_user['id'] == member['userid'] %>
      <div class="karaoke-result-block center pointer" onclick="register.editAttendance(<%= @karaoke['id'] %>);">
      <% else %>
      <div class="karaoke-result-block center">
      <% end %>
        <p class='description'>値段</p>
        <span id="price_<%= member['userid'] %>" class='result orange'><%= member['price'] %></span>
        <span class='orange'>円</span>
      </div>
      <% if @current_user and @current_user['id'] == member['userid'] %>
      <div class="karaoke-result-block karaoke-memo-block pointer center" onclick="register.editAttendance(<%= @karaoke['id'] %>);">
      <% else %>
      <div class="karaoke-result-block karaoke-memo-block center">
      <% end %>
        <p class='description'>感想</p>
        <span id="memo_<%= member['userid'] %>" class='result orange'><%= member['memo'] %></span>
      </div>
    </div>
    <!-- ToDo: ビューでこういったデータの書き換えを行うのはMVC分離の原則に反するので要修正 -->
    <!-- JavaScriptで動的にテーブルの内容をフィルタリングするのが望ましいかも -->
    <% @histories = @karaoke.histories.select {|h| h['userinfo']['userid'] == member['userid']} %>
    <% @tag = member['userid'] %>
    <div id="history_<%= member['userid'] %>">
    <%= erb :_historytable %>
    </div>
  </div>
  <% end %>
</div>
<div class='center'>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<script>
  $('#karaoke_detail_tabs').tabs();
  $('#karaoke_detail_tabs').show();
</script>
