<h4><%= @karaoke.params['name'] %></h4>
<table border="1" class="table table-hover linkcursor">
	<thead>
		<tr>
			<th>日時</th>
			<th>時間</th>
			<th>お店</th>
			<th>機種</th>
			<th>メンバー</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @karaoke.params['datetime'] %></td>
			<td><%= @karaoke.params['plan'] %></td>
			<td><%= @karaoke.params['store_name'] %></td>
			<td><%= @karaoke.params['product_name'] %></td>
			<td><%= @karaoke.params['members'] %></td>
		</tr>
	</tbody>
</table>

<h4>歌唱履歴</h4>
<table border="1" class="table table-hover linkcursor">
	<thead>
		<tr>
			<th>ユーザー</th>
			<th>歌手名</th>
			<th>曲名</th>
			<th>キー設定</th>
			<th>採点モード</th>
			<th>採点</th>
		</tr>
	</thead>
	<tbody>
		<% @karaoke.histories.each do |history| %>
		<tr>
			<td><a href="/user/<%= history['userinfo']['userid'] %>"><%= history['userinfo']['screenname'] %></a></td>
			<td><a href="/artist/<%= history['artist_id'] %>"><%= history['artist_name'] %></td>
			<td><a href="/song/<%= history['song_id'] %>"><%= history['song_name'] %></a></td>
			<td><%= history['songkey'] %></td>
			<td><%= history['score_type'] %></td>
			<td><%= h history['score'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

