<h4><%= @karaoke['name'] %></h4>
<table id="karaoke_detail_description" class="table">
  <thead>
    <tr>
      <th class='center cell-datetime'>日時</th>
      <th class='center cell-number'>時間</th>
      <th class='center'>お店</th>
      <th class='center'>機種</th>
      <th class='center'>歌唱数</th>
      <% if @current_user %><th width='32px'>編集</th><% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class='center'><%= @karaoke['datetime'] %></td>
      <td class='center'><%= @karaoke['plan'] %></td>
      <td class='center'><%= @karaoke['store_full_name'] %></td>
      <td class='center'><%= @karaoke['product_name'] %></td>
      <td class='center'><%= @karaoke.histories.count %></td>
      <% if @current_user %>
      <td width="32px">
        <img class="linkcursor" src="/image/edit.png" width="32" onclick="register.editKaraoke(<%= @karaoke['id'] %>)">
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<h4>メンバー</h4>
<table id="karaoke_member_table" class="table sortable table-hover">
  <thead>
    <tr>
      <th>ユーザ</th>
      <th>歌唱曲数</th>
      <th>最高点</th>
    </tr>
  </thead>
  <tbody>
  <% @karaoke['members'].each do |member| %>
    <tr>
      <td><%= user_link member['username'], member['screenname'] %></td>
      <td><%= member['sang_count'] %></td>
      <td><%= h member['max_score'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h4>歌唱履歴</h4>
<% if @current_user %>
<p class='right linkcursor'>
  <img src="/image/addsong.png" width="32" onclick="register.createHistory(<%= @karaoke['id'] %>)">
</p>
<% end %>
<table id="karaoke_detail_history" class="table sortable table-hover">
  <thead>
    <tr>
      <th class='center' width='140'>ユーザー</th>
      <th class='center' width='160'>動画</th>
      <th class='center' width='20%'>曲名</th>
      <th class='center' width='20%'>歌手名</th>
      <th class='center cell-number'>キー</th>
      <th class='center' width='190'>採点モード</th>
      <th class='cell-number'>採点</th>
      <% if @current_user %><th class='center' width='32'>編集</th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @karaoke.histories.each_with_index do |history , idx| %>
    <tr>
      <td class='center' width='140'><%= user_link history['userinfo']['username'], history['userinfo']['screenname'] %></td>
      <td id='thumbnail_<%= idx %>' class='center' width='160'>
        <% if history['song_url'] %>
          <script>
            zenra.createThumbnail(
              "<%= idx %>" ,
              "<%= history['song_id'] %>" ,
              "<%= history['song_name'] %>" ,
              "<%= history['artist_name'] %>" ,
              "<%= youtube_image(history['song_url']) %>" ,
              "<%= history['song_url'] %>"
            )
          ;</script>
        <% else %>
          未登録
        <% end %>
      </td>
      <td class='center'><%= song_link history['song_id'], history['song_name'] %></td>
      <td class='center'><%= artist_link history['artist_id'], history['artist_name'] %></td>
      <td class='center'><%= history['songkey'] %></td>
      <td class='center' width='190'><%= history['scoretype_name'] %></td>
      <td class='center'><%= h history['score'] %></td>
      <% if @current_user %>
      <td class='center' width='32'>
        <img class="linkcursor" src="/image/edit.png" width="32" onclick="register.editHistory(<%= @karaoke['id'] %> , <%= history['history_id'] %>)">
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<div class='center'>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
