<html lang="ja">
<head>
  <meta charset="utf-8">
  <% if Util.is_smartphone? %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% end %>
  <link rel="stylesheet" href="/css/march.css?<%= Util.filemtime('css/march.css') %>" type="text/css">
  <link rel="stylesheet" href="/css/plugines.css" type="text/css">
  <link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.min.css?" type="text/css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/c3js/c3.css" type="text/css">
  <link rel="stylesheet" href="/jquery_alerts/jquery.alerts.css" type="text/css">
  <% if Util.is_smartphone? %><link rel="stylesheet" href="/css/sp.css" type="text/css"><% end %>
  <script src="/script/jquery-2.2.0.min.js"></script> <!-- jQuery本体-->
  <script src="/jquery-ui-1.11.4/jquery-ui.min.js"></script> <!-- jQueryUI -->
  <script src="/c3js/c3.min.js"></script> <!-- グラフ描画要C3.JS -->
  <script src="/d3js/d3.min.js"></script> <!-- データ可視化ライブラリ D3.JS -->
  <script src="/jquery_lib/jquery.simplyscroll.min.js"></script> <!-- バスタオルスクリプト -->
  <script src="/jquery_lib/tablesort/jquery.tablesorter.min.js"></script> <!-- テーブルソートスクリプト-->
  <script src="/jquery_lib/jquery.datetimepicker.js"></script><!-- カレンダースクリプト-->
  <script src="/jquery_alerts/jquery.ui.draggable.js"></script><!-- ドラッガブルスクリプト -->
  <script src="/jquery_alerts/jquery.alerts.js"></script><!-- アラートスクリプト -->
  <script src="/script/zenra.js?<%= Util.filemtime('script/zenra.js') %>"></script> <!-- 全裸スクリプト -->
  <link rel="shortcut icon" href="/image/favicon.ico" />
  <title>パンダリンのカラオケランド(β版テスト期間中)</title>
  <!-- JavaScriptへの値の受け渡 -->
  <script>
    <% if Util.is_pc? %>
      zenra.ispc = true;
    <% else %>
      zenra.ispc = false;
    <% end %>
    <% if @current_user %>
      zenra.currentUser = {
        id: <%= @current_user['id'] %>,
        username: "<%= @current_user['username'] %>",
        screenname: "<%= @current_user['screenname'] %>"
      }
    <% end %>
  </script>
</head>
<body>
<div class="container">
  <!-- メインメニューバー -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">🐼パンカラ!</a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarEexample">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              記録を見る<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/karaoke/list">全てのカラオケ一覧</a></li>
              <% if @current_user %>
              <li><a href="/karaoke/user/">あなたのカラオケ一覧</a></li>
              <li><a href="/user/songlist">あなたの持ち歌一覧</a></li>
              <li><a href="/history/list">あなたの歌唱履歴</a></li>
              <% end %>
              <li><a href="/artist">アーティスト一覧</a></li>
              <li><a href="/song/">歌う曲に迷ったら</a></li>
            </ul>
          </li>
          <% if @current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              記録をする<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="register.createKaraoke();">カラオケを新規登録</a></li>
              <li><a href="#" onclick="register.createSong();">楽曲を新規登録</a></li>
            </ul>
          </li>

          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ランキング <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/ranking/artist">アーティストランキング</a></li>
              <li><a href="/ranking/song">楽曲ランキング</a></li>
              <li><a href="/ranking/score">得点ランキング</a></li>
            </ul>
          </li>

          <% if @current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= user_icon(@current_user['username'] , 24 , 24) %>
              <%= h @current_user['screenname'] %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user/userpage">マイページ</a></li>
              <li><a href="/user/friend/list">友達一覧</a></li>
              <li><a href="/config">設定</a></li>
              <% if Util.is_smartphone_strictly? %>
                <% if Util.session['view_pc_mode'] %>
                  <li><a href="/config/viewtype?callback=<%= Util.request.path %>">スマートフォン用ページへ</a></li>
                <% else %>
                  <li><a href="/config/viewtype?callback=<%= Util.request.path %>">PC用ページへ</a></li>
                <% end %>
              <% end %>
              <li><a href="/auth/logout">ログアウト</a></li>
            </ul>
          </li>
          <% else %>
          <li><a href="<%= Util.login_url %>">ログイン</a></li>
          <% end %>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="GET" action="/search/keyword">
          <div class="form-group">
            <input type="search" class="form-control" name="search_word" id="search_freeword" size="15" placeholder="フリーワード検索">
          </div>
          <button type="submit" class="btn btn-default">検索</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- コンテンツのインクルード-->
  <%= yield %>
</div>

<%= csrftoken %>
<script src="/bootstrap/js/bootstrap.js"></script>

<% if false %>
<!--アクセス解析--><script type="text/javascript" src="http://x5.donburako.com/ufo/105769500"></script><noscript><a href="http://x5.donburako.com/bin/gg?105769500" target="_blank"><img src="http://x5.donburako.com/bin/ll?105769500" border="0"></a><br><span style="font-size:9px"><img style="margin:0;vertical-align:text-bottom;" src="http://img.shinobi.jp/tadaima/fj.gif" width="19" height="11"> </span></noscript><!--shinobi2-->
<% end %>
</body>
</html>
