<div class="container">
  <div class="row" style="margin-bottom: 110px">
    <div class="col-sm-3">
      <% if @login_message %><p class='red'><%= @login_message %></p><% end %>
      <h3>パンカラにログイン</h3>
      <form method="POST">
        <div class='form-group'>
          <label class='control-label'>ユーザ名:</label>
          <input class='form-control' type="text" name="username">
        </div>
        <div class='form-group'>
          <label class='control-label'>パスワード:</label>
          <input class='form-control' type="password" name="password">
        </div>
        <div class='form-group'>
          <input class='form-control btn btn-default' type="submit" id="login_button" value="ログイン">
          <input type="hidden" name="callback" value="<%= @callback %>">
          <%= csrftoken %>
        </div>
      </form>
    </div>
    <div class="col-sm-9">
      <h3>パンカラ!(仮)とは</h3>
      <p>
        パンカラ!(パンダリンのカラオケランド)は、あなたのカラオケでの歌唱記録を管理、共有するWebサービスです。
      </p>
      <h3>機能例</h3>
      <ul>
        <li>持ち歌の管理 → <a href="/user/songlist/sa2knight">(例)</a></li>
        <li>楽曲の検索 → <a href="/search/tag/?tag=VOCALOID">(例)</a></li>
        <li>カラオケの歌唱履歴の記録 → <a href="/karaoke/detail/8">(例)</a></li>
        <li>楽曲の集計 → <a href="/song/26">(例)</a></li>
        <li>アーティストの集計 → <a href="/artist/66">(例)</a></li>
        <li>ユーザ情報の集計 → <a href="/user/userpage/sa2knight">(例)</a></li>
      </ul>
      <h3>推奨環境</h3>
      <p>
        パンカラはPCブラウザでの利用を推奨しています。スマートフォンでも一応ご利用になれますが、一部ページで
        レイアウトが乱れる、PC用ページより情報量が少ないといった差異があります。
      </p>
      <h3>テストユーザ募集</h3>
      <p>
        パンカラでは本環境を用いたテストユーザーを募集しています。
        テストユーザになった方には、ユーザIDを提供しますので、実際にカラオケに行った際に本サービスに
        記録していただきます。
      </p>
      <p>
        ご協力いただけるという方は、以下のいずれかのツイッターアカウントに対して
        リプライもしくはDMを送るか、お問い合わせフォームよりその旨をお送りください。
      </p>
      <ul>
        <li><a href="https://twitter.com/Sa2Knight" target="_blank">@sa2knight</a> ※フォロワーのみ</li>
        <li><a href="https://twitter.com/unagi_pai21" target="_blank">@unagi_pai21</a></li>
        <li><a href="https://twitter.com/backkomestage" target="_blank">@backkomestage</a></li>
        <li><a href="/contact">お問い合わせフォーム</a>
      </ul>
      <h3>更新情報</h3>
      <div class='center'>
        <%= erb :_update_info %>
      </div>
    </div>
  </div>
  <%= erb :_bathtowel %>
</div>
