<script src="https://www.youtube.com/iframe_api"></script>
<div id="songs_json" class="hidden"><%= @songs_json %></div>

<!-- PC -->
<% if Util.is_pc? %>
<div class="row">
  <div class="col-sm-8">
    <h3 id="song_name">
      <%= @songs.values[0]['song_name'] %>
      / <%= @songs.values[0]['artist_name'] %>
    </h3>
    <div id="player"></div>
  </div>
  <div class="col-sm-4">
    <%= erb :_playlist_songlist %>
  </div>
</div>

<script>
function onYouTubeIframeAPIReady() {
  zenra.playlist.init('player' , 640 , 390);
};
</script>

<!-- スマートフォン -->
<% else %>
<div id="player"></div>
<p class='red'>iPhoneなど、端末によっては自動再生が失敗することがあります</p>
<%= erb :_playlist_songlist %>
<script>
function onYouTubeIframeAPIReady() {
  zenra.playlist.init('player' , '100%' , 'auto');
}
</script>
<% end %>
