<script src="https://www.youtube.com/iframe_api"></script>
<div id="songs_json" class="hidden"><%= @songs_json %></div>


<div class="row">
  <div class="col-sm-8">
    <h3>プレイヤー</h3>
    <div id="player"></div>
  </div>
  <div class="col-sm-4">
    <h3>再生リスト(<%= @songs.size %>曲)</h3>
    <div id="playlist_table">
      <table class="table">
        <% @songs.values.each do |s| %>
        <tr id="song_row_<%= s['song_id'] %>">
          <td><img src="<%= youtube_image s['song_url'] %>" width=64 height=36/></td>
          <td><%= s['song_name'] %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
function onYouTubeIframeAPIReady() {
  zenra.playlist.init('player' , 640 , 390);
};
</script>
