<script src="https://www.youtube.com/iframe_api"></script>
<div id="songs_json" class="hidden"><%= @songs_json %></div>

<!-- PC -->
<% if Util.is_pc? %>
<div class="row">
  <div class="col-sm-8">
    <h3 id="song_name"><%= @songs.values[0]['song_name'] %></h3>
    <h4 id="artist_name"><%= @songs.values[0]['artist_name'] %></h3>
    <div id="player"></div>
  </div>
  <div class="col-sm-4">
    <h3>再生リスト(<%= @songs.size %>曲)</h3>
    <div id="playlist_table">
      <table class="table">
        <% @songs.values.each_with_index do |s , idx| %>
        <tr class="song-rows" id="song_row_<%= s['song_id'] %>">
          <td class='pointer' onclick="zenra.playlist.set(<%= idx %>)">
            <img src="<%= youtube_image s['song_url'] %>" width=64 height=36/>
          </td>
          <td><%= song_link s['song_id'] , s['song_name'] , "_blank" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
function onYouTubeIframeAPIReady() {
  zenra.playlist.init('player' , 640 , 390);
};
</script>

<!-- スマートフォン -->
<% else %>
<h3>再生リストを連続再生</h3>
<div id="player"></div>
<h3>再生リスト(<%= @songs.size %>曲)</h3>
<div id="playlist_table">
  <table class="table">
    <% @songs.values.each_with_index do |s , idx| %>
    <tr class="song-rows" id="song_row_<%= s['song_id'] %>">
      <td onclick="zenra.playlist.set(<%= idx %>)">
        <img src="<%= youtube_image s['song_url'] %>" width=64 height=36/>
      </td>
      <td><%= s['song_name'] %></td>
    </tr>
    <% end %>
  </table>
</div>

<script>
function onYouTubeIframeAPIReady() {
  zenra.playlist.init('player' , '100%' , 'auto');
}
</script>
<% end %>
