<h1>得点ランキング <%= @score_type['brand'] %> <%= @score_type['name'] %> 編</h1>
<div class='right'>採点モード <%= erb :_score_type_selecter %></div>
<% if @scores.empty? %>
<p id="nondata">該当データなし</p>
<% else %>
<table id="scoreranking_table" class="table sortable table-hover linkcursor">
  <thead>
    <tr>
      <th class='center' width='60'>順位</th>
      <th class='center' width='160'>動画</th>
      <th class='center'>ユーザ</th>
      <th class='center'>曲名</th>
      <th class='center'>歌手名</th>
      <th class='center cell-number'>得点</th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each_with_index do |row , rank| %>
    <tr>
      <td class='center'><%= rank + 1 %></td>
      <td id="thumbnail_<%= rank %>" class='center' width='160'>
        <% if row['song_url'] %>
          <span id="song_name_<%= rank %>" class="hidden"><%= h row["song_name"] %></span>
          <span id="artist_name_<%= rank %>" class="hidden"><%= h row["artist_name"] %></span>
          <script>
            zenra.createThumbnail(
              "<%= rank %>" ,
              "<%= row['song'] %>" ,
              "<%= youtube_image row['song_url'] %>"
            );
          </script>
        <% else %>
          未登録
        <% end %>
      </td>
      <td class='center'><%= user_link row['username'] , row['screenname'] %></td>
      <td class='center'><%= song_link row['song'], row['song_name'] %></td>
      <td class='center'><%= artist_link row['artist_id'], row['artist_name'] %></td>
      <td class='center'><%= h row['score'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<script type="text/javascript">
var attr = $('#score_type_selecter');
attr.change(function() {
  var selectedID = attr.val();
  location.href = selectedID;
});
</script>
