<h2>得点ランキング</h2>
<%= erb :_ranking_mode_link %>
<%= erb :_score_type_selecter %>
<% if @scores.empty? %>
<p id="nondata">該当データなし</p>
<% else %>
<table id="scoreranking_table" class="table sortable table-hover linkcursor">
  <thead>
    <tr>
      <th class='center'>順位</th>
      <% if Util.is_pc? %>
        <th class='center'>動画</th>
        <th class='center'>日付</th>
      <% end %>
      <th class='center' width=110>ユーザ</th>
      <th class='center'>曲名(歌手名)</th>
      <th class='center'>得点</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each_with_index do |row , rank| %>
    <tr>
      <td class='center' width='50'><%= rank + 1 %></td>
      <% if Util.is_pc? %>
      <td id="thumbnail_<%= rank %>" class='center' width=<% if Util.is_pc? %>'160'<% else %>'80'<% end %>>
        <span id="song_name_<%= rank %>" class="hidden"><%= h row["song_name"] %></span>
        <span id="artist_name_<%= rank %>" class="hidden"><%= h row["artist_name"] %></span>
        <script>
          zenra.createThumbnail(
            "<%= rank %>" ,
            "<%= row['song'] %>" ,
            "<%= youtube_image row['song_url'] %>"
          );
        </script>
      </td>
      <td class='center'><%= date row['datetime'] %></td>
      <% end %>
      <td class='center' width=110><%= user_link row['username'] , row['screenname'] %></td>
      <td class='center'>
        <div class='ranking-song-name'><%= song_link row['song'], row['song_name'] %></div>
        <div class='ranking-artist-name'>(<%= artist_link row['artist_id'], row['artist_name'] %>)</div>
      </td>
      <td class='center'><%= h row['score'] %></td>
      <td class='center'><%= history_link(row['history_id'] , :size => Util.is_pc? ? 24 : 16 )%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p class='right'><%= playlist_link @scores.select {|s| s['song_url']}.map {|s| s['song_id']} %></p>
<% end %>

<script type="text/javascript">
var attr = $('#score_type_selecter');
attr.change(function() {
  var selectedID = attr.val();
  if (location.href.indexOf('score_type=') == -1) {
    var newURL = location.href.replace(/score_type=\d/ , 'score_type=' + selectedID);
  } else {
    var newURL = location.href + '&score_type=' + selectedID;
  }
  zenra.loader.show();
  setTimeout(function() { location.href = newURL; } , 100);
});
</script>
