<div>
<% if @song_list.size > 0 %>
  
  <% if @song_list.size > 0 %>
  <h3>タグ "<%= h @tag %>" が登録された楽曲一覧(<%= @song_list.size %>件)</h3>
  <table id="search_tag_table" class="table table-hover">
    <tbody>
      <% @song_list.each_with_index do |song , idx| %>
      <% if idx % @columns == 0 %>
        <tr>
      <% end %>
        <td id="thumbnail_<%= idx %>" class='center search-tag-thumbnail' width='10%'>
          <% if song['song_url'] %>
          <span id="song_name_<%= idx %>" class="hidden"><%= song["song_name"] %></span>
          <span id="artist_name_<%= idx %>" class="hidden"><%= song["artist_name"] %></span>
          <script>
          zenra.createThumbnail(
            "<%= idx %>" ,
            "<%= song['song_id'] %>" ,
            "<%= youtube_image song['song_url'] %>"
          );
          </script>
          <% else %>
          未登録
          <% end %>
        </td>
        <td width='23%' class='search-tag-result'>
          <p><%= song_link song['song_id'] , song['song_name'] %></p>
          <p><%= artist_link song['artist_id'] , song['artist_name'] %></p>
        </td>
      <% if idx + 1 % @columns == 0 %>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <p class="right"><%= playlist_link(@song_list.select {|s| s['song_url']}.map {|s| s['song_id']}) %></p>
  <% end %>
<% elsif @tag.size > 0 %>
  <h3>"<%= h @tag %>" を含む楽曲が存在しません</h3>
<% else %>
  <h3>タグを指定してください</h3>
<% end %>
