<div>
<% if @song_list.size > 0 || @artist_list.size > 0 || @tag_list.size > 0 || @users.size > 0 %>

  <% if @users.size > 0 %>
  <h3>"<%= h @search_word %>" を含むユーザ一覧(<%= @users.size %>人)</h3>
  <%= erb :_user_list %>
  <% end %>

  <% if @song_list.size > 0 %>
  <h3>"<%= h @search_word %>" を含む楽曲一覧(<%= @song_list.size %>件)</h3>
  <table id="search_song_table" class="table sortable table-hover">
    <thead>
      <tr>
        <th>曲名</th>
        <th>歌手名</th>
      </tr>
    </thead>
    <tbody>
      <% @song_list.each do |song| %>
      <tr>
        <td width="50%"><%= song_link song['song_id'] , song['song_name'] %></td>
        <td width="50%"><%= artist_link song['artist_id'] , song['artist_name'] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <% if @artist_list.size > 0 %>
  <h3>"<%= h @search_word %>" を含む歌手一覧(<%= @artist_list.size %>件)</h3>
  <table id="search_artist_table" class="table sortable table_hover">
    <thead>
      <tr>
        <th>歌手名</th>
      </tr>
    </thead>
    <tbody>
      <% @artist_list.each do |artist| %>
      <tr>
        <td><%= artist_link artist['id'] , artist['name'] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <% if @tag_list.size > 0 %>
  <h3>"<%= h @search_word %>" を含むタグ一覧(<%= @tag_list.size %>件)</h3>
  <table id="search_tag_table" class="table sortable table_hover">
    <thead>
      <tr>
        <th>タグ名</th>
      </tr>
    </thead>
    <tbody>
      <% @tag_list.each do |tag| %>
      <tr>
        <td><a href="/search/tag/?tag=<%= tag %>"><%= tag %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% end %>

<% elsif @search_word.size > 0 %>
  <h3>"<%= h @search_word %>" を含む楽曲、歌手、タグ、ユーザが存在しません</h3>
<% else %>
  <h3>※検索ワードを入力してから検索ボタンを押してください</h3>
<% end %>
