<h1>歌唱回数ランキング</h1>
<table id="songranking_table" border="1" class="table sortable table-hover linkcursor">
  <thead>
    <tr>
      <th class='cell-number'>順位</th>
      <th width='160'>動画</th>
      <th class='center'>曲名</th>
      <th class='center'>歌手名</th>
      <th class='center cell-number'>回数</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each_with_index do |song , rank| %>
    <tr>
      <td class='center'><%= rank + 1 %></td>
      <td class='center' width='160'>
        <% if song['song_url'] %>
          <%= movie_image song['song_id'] , 160 , 90 %>
        <% else %>
          未登録
        <% end %>
      </td>
      <td class='center'><%= song_link song['song_id'], song['song_name'] %></td>
      <td class='center'><%= artist_link song['artist_id'], song['artist_name'] %></td>
      <td class='center'><%= song['count'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

