<h2>
	<%= @song['name'] %> /
	<%= artist_link @song['artist'], @song['artist_name'] %>
</h2>

<div>
	<% if @song['url'] %>
		<%= tube @song['url'] , 560 , 315 %>
	<% end %>
</div>

<h4>この曲が歌われた回数</h4>
<p id="sangcount">みんな: <%= @sangcount %></p>
<p id="my_sangcount">あなた: <%= @my_sangcount %></p>

<h4>この曲のみんなの採点結果(全国採点オンライン２)</h4>
<p id="maxscore">最高: <%= h @score['score_max'] %></p>
<p id="minscore">最低: <%= h @score['score_min'] %></p>
<p id="avgscore">平均: <%= h @score['score_avg'] %></p>

<h4>この曲のあなたの採点結果(全国採点オンライン２)</h4>
<p id="my_maxscore">最高: <%= h @my_score['score_max'] %></p>
<p id="my_minscore">最低: <%= h @my_score['score_min'] %></p>
<p id="my_avgscore">平均: <%= h @my_score['score_avg'] %></p>

<h4>この曲のみんなの歌唱履歴</h4>
<table id="songdetail_allhistory_table" class="table table-striped">
	<thead>
		<th class='cell-datetime'>日付</th>
		<th>内容</th>
		<th>ユーザ</th>
		<th class='cell-number'>キー</th>
		<th>採点モード</th>
		<th class='cell-number'>得点</th>
	</thead>
	<tbody>
		<% @history.each do |sang| %>
		<tr>
			<td><%= sang['datetime'] %></td>
			<td><%= karaoke_link sang['karaoke_id'], sang['karaoke_name'] %></td>
			<td><%= user_link sang['username'] , sang['user_screenname'] %></td>
			<td class='center'><%= sang['songkey'] %></td>
			<td><%= sang['scoretype_name'] %></td>
			<td class='center'><%= h sang['score'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h4>この曲のあなたの歌唱履歴</h4>
<table id="songdetail_myhistory-table" class="table table-striped">
	<thead>
		<th class='cell-datetime'>日付</th>
		<th>内容</th>
		<th>ユーザ</th>
		<th class='cell-number'>キー</th>
		<th>採点モード</th>
		<th class='cell-number'>得点</th>
	</thead>
	<tbody>
		<% @my_history.each do |sang| %>
		<tr>
			<td><%= sang['datetime'] %></td>
			<td><%= karaoke_link sang['karaoke_id'], sang['karaoke_name'] %></td>
			<td><%= user_link sang['username'] , sang['user_screenname'] %></td>
			<td class='center'><%= sang['songkey'] %></td>
			<td><%= sang['scoretype_name'] %></td>
			<td class='center'><%= h sang['score'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
