<h2 class='center' style="margin-top: -5px">
  <%= h @song['name'] %> / <%= artist_link @song['artist'], @song['artist_name'] %>
</h2>

<div class="row">

  <div id="sang_count_chart_column" class="col-xs-3">
    <p>
      歌唱回数
      <span id="sangcount">みんな: <%= @sangcount %></span>
      <% if @current_user %><span id="my_sangcount">あなた: <%= @my_sangcount %></span><% end %>
    </p>
    <div id="sang_count_chart"></div>
  </div>

  <div id="youtube_column" class="col-xs-6">
    <% if @song['url'] %>
      <%= movie_player @song['url'] , 560 , 315 %>
    <% end %>
  </div>

  <div id="score_column" class="col-xs-3">
    <p>スコアグラフ予定地</p>
  </div>
</div>

<div class="row" style="padding-top: 25px">
  <div id="history_column" class="col-xs-9">
    <div id="history_tabs" style="display: none;">
      <ul>
        <% if @current_user %>
        <li><a href="#tabs-user">あなたの歌唱履歴</a></li>
        <% end %>
        <li><a href="#tabs-all">みんなの歌唱履歴</a></li>
      </ul>
      <% if @current_user %>
      <div id="tabs-user">
        <% @info = @my_history %>
        <%= erb :_song_detail_history %>
      </div>
      <% end %>
      <div id="tabs-all">
        <% @info = @history %>
        <%= erb :_song_detail_history %>
      </div>
    </div>
  </div>
  <div id="bbs_column" class="col-xs-3">
    <h4>この曲のみんなの採点結果(全国採点オンライン２)</h4>
    <% if @score['score_max'] %>
      <p id="maxscore">最高: <%= h @score['score_max'] %></p>
      <p id="minscore">最低: <%= h @score['score_min'] %></p>
      <p id="avgscore">平均: <%= h @score['score_avg'] %></p>
    <% else %>
      みんなの採点履歴がありません
    <% end %>

    <% if @current_user %>
      <h4>この曲のあなたの採点結果(全国採点オンライン２)</h4>
      <% if @my_score['score_max'] %>
        <p id="my_maxscore">最高: <%= h @my_score['score_max'] %></p>
        <p id="my_minscore">最低: <%= h @my_score['score_min'] %></p>
        <p id="my_avgscore">平均: <%= h @my_score['score_avg'] %></p>
      <% else %>
       あなたの 採点履歴がありません
      <% end %>
    <% end %>
  </div>
</div>

<div id="sang_count_chart_data" class="hide"><%= @sang_count_chart_data %></div>

<script>
  $('#history_tabs').tabs().show();
  zenra.createBarChart("#sang_count_chart" , "#sang_count_chart_data");
</script>
