<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<h1>歌唱回数ランキング</h1>
<table id="songranking_table" class="table sortable table-hover linkcursor">
  <thead>
    <tr>
      <th class='center'>順位</th>
      <th class='center'>動画</th>
      <th class='center'>曲名</th>
      <th class='center'>歌手名</th>
      <th class='center'>回数</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each_with_index do |song , rank| %>
    <tr>
      <td class='center' width='100px'><%= rank + 1 %></td>
      <td id="thumbnail_<%= rank %>" class='center' width=<% if Util.is_pc? %>'160'<% else %>'80'<% end %>>
        <% if song['song_url'] %> 
          <span id="song_name_<%= rank %>" class="hidden"><%= h song["song_name"] %></span>
          <span id="artist_name_<%= rank %>" class="hidden"><%= h song["artist_name"] %></span>
          <script>
            zenra.createThumbnail(
              "<%= rank %>" ,
              "<%= song['song_id'] %>" ,
              "<%= youtube_image song['song_url'] %>"
            );
          </script>
        <% else %>
          未登録
        <% end %>
      </td>
      <td class='center'><%= song_link song['song_id'], song['song_name'] %></td>
      <td class='center'><%= artist_link song['artist_id'], song['artist_name'] %></td>
      <td class='center' width='60'><%= song['count'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

