<%= erb :_song_detail_title %>

<div class="row">
  <div id="sang_count_chart_column" class="col-xs-3">
    <%= erb :_song_detail_sang_count_chart %>
  </div>
  <div id="youtube_column" class="col-xs-6">
    <%= erb :_song_detail_youtube %>
  </div>

  <div id="score_column" class="col-xs-3">
    <%= erb :_song_detail_score_chart %>
  </div>
</div>
<div class="row" style="padding-top: 25px">
  <div id="history_column" class="col-xs-9"> 
    <%= erb :_song_detail_history %>
  </div>
  <div id="tag_column" class="col-xs-3">
    <%= erb :_song_detail_tags %>
  </div>
</div>

<%= csrftoken %>
<script>
  $('#history_tabs').tabs().show();
  zenra.createMonthlySangCountBarChart('/ajax/song/tally/monthly/count' , <%= @song['id'] %> , "#sang_count_chart"); 
  zenra.scoreBarChart.init(<%= @song['id'] %> , 1 , <%= @score_type_num %> , "#score_bar_chart");
  <% if @current_user %>
  zenra.showSongTagList(<%= @song['id'] %> , <%= @current_user['id'] %>);
  <% else %>
  zenra.showSongTagList(<%= @song['id'] %>);
  <% end %>
</script>
