<h2>
  <%= h @song['name'] %> /
  <%= artist_link @song['artist'], @song['artist_name'] %>
</h2>

<div>
  <% if @song['url'] %>
    <%= movie_player @song['url'] , 560 , 315 %>
  <% end %>
</div>

<h4>この曲が歌われた回数</h4>
<p id="sangcount">みんな: <%= @sangcount %></p>
<% if @current_user %><p id="my_sangcount">あなた: <%= @my_sangcount %></p><% end %>

<h4>この曲のみんなの採点結果(全国採点オンライン２)</h4>
<p id="maxscore">最高: <%= h @score['score_max'] %></p>
<p id="minscore">最低: <%= h @score['score_min'] %></p>
<p id="avgscore">平均: <%= h @score['score_avg'] %></p>

<% if @current_user %>
<h4>この曲のあなたの採点結果(全国採点オンライン２)</h4>
<p id="my_maxscore">最高: <%= h @my_score['score_max'] %></p>
<p id="my_minscore">最低: <%= h @my_score['score_min'] %></p>
<p id="my_avgscore">平均: <%= h @my_score['score_avg'] %></p>
<% end %>

<h4>この曲のみんなの歌唱履歴</h4>
<table id="songdetail_allhistory_table" class="table sortable table-striped">
  <thead>
    <th class='center cell-datetime'>日付</th>
    <th class='center'>内容</th>
    <th class='center'>ユーザ</th>
    <th class='center cell-number'>キー</th>
    <th class='center'>採点モード</th>
    <th class='center cell-number'>得点</th>
  </thead>
  <tbody>
    <% @history.each do |sang| %>
    <tr>
      <td class='center'><%= sang['datetime'] %></td>
      <td class='center'><%= karaoke_link sang['karaoke_id'], sang['karaoke_name'] %></td>
      <td class='center'><%= user_link sang['username'] , sang['user_screenname'] %></td>
      <td class='center'><%= sang['songkey'] %></td>
      <td class='center'><%= sang['scoretype_name'] %></td>
      <td class='center'><%= h sang['score'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @current_user %>
<h4>この曲のあなたの歌唱履歴</h4>
<table id="songdetail_myhistory-table" class="table sortable table-striped">
  <thead>
    <th class='cell-datetime'>日付</th>
    <th class='center'>内容</th>
    <th class='center'>ユーザ</th>
    <th class='cell-number'>キー</th>
    <th class='center'>採点モード</th>
    <th class='cell-number'>得点</th>
  </thead>
  <tbody>
    <% @my_history.each do |sang| %>
    <tr>
      <td class='center'><%= sang['datetime'] %></td>
      <td class='center'><%= karaoke_link sang['karaoke_id'], sang['karaoke_name'] %></td>
      <td class='center'><%= user_link sang['username'] , sang['user_screenname'] %></td>
      <td class='center'><%= sang['songkey'] %></td>
      <td class='center'><%= sang['scoretype_name'] %></td>
      <td class='center'><%= h sang['score'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
