<h2>
	<%= @song.params['name'] %> /
	<a href="artist/<%= @song.params['artist'] %>"><%= @song.params['artist_name'] %></a>
</h2>

<h4>この曲が歌われた回数</h4>
<p>みんな: <%= @song.params['sangcount'] %></p>
<p>あなた: <%= @my_sangcount %></p>

<h4>この曲のみんなの採点結果(全国採点オンライン２)</h4>
<p>最高: <%= @song.params['score_max'] %></p>
<p>最低: <%= @song.params['score_min'] %></p>
<p>平均: <%= @song.params['score_avg'] %></p>

<h4>この曲のあなたの採点結果(全国採点オンライン２)</h4>
<p>最高: <%= @my_score['score_max'] %></p>
<p>最低: <%= @my_score['score_min'] %></p>
<p>平均: <%= @my_score['score_avg'] %></p>

<h4>この曲のみんなの歌唱履歴</h4>
<table class="table table-striped">
	<thead>
		<th>日付</th>
		<th>ユーザ</th>
		<th>キー</th>
		<th>採点モード</th>
		<th>得点</th>
	</thead>
	<tbody>
		<% @song.params['sang_history'].each do |sang| %>
		<tr>
			<td><%= sang['datetime'] %></td>
			<td><%= sang['user_screenname'] %></td>
			<td><%= sang['songkey'] %></td>
			<td><%= sang['score_type'] %></td>
			<td><%= sang['score'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h4>この曲のあなたの歌唱履歴</h4>
<table class="table table-striped">
	<thead>
		<th>日付</th>
		<th>ユーザ</th>
		<th>キー</th>
		<th>採点モード</th>
		<th>得点</th>
	</thead>
	<tbody>
		<% @my_sang_history.each do |sang| %>
		<tr>
			<td><%= sang['datetime'] %></td>
			<td><%= sang['user_screenname'] %></td>
			<td><%= sang['songkey'] %></td>
			<td><%= sang['score_type'] %></td>
			<td><%= sang['score'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
