<h2 class='center' style="margin-top: -5px">
  <%= h @song['name'] %> / <%= artist_link @song['artist'], @song['artist_name'] %>
</h2>

<div class="row">

  <div id="sang_count_chart_column" class="col-xs-3">
    <p>
      歌唱回数
      <span id="sangcount">みんな: <%= @sangcount %></span>
      <% if @current_user %><span id="my_sangcount">あなた: <%= @my_sangcount %></span><% end %>
    </p>
    <div id="sang_count_chart"></div>
  </div>

  <div id="youtube_column" class="col-xs-6">
    <% if @song['url'] %>
      <%= movie_player @song['url'] , 560 , 315 %>
    <% end %>
  </div>

  <div id="score_column" class="col-xs-3">
    <p class='center' style="margin-left: 25px">
      <img src="/image/arrow_left.png" width=16px class='pointer' onclick='zenra.scoreBarChart.prev()'>
      <span id="score_type_name">JOYSOUND 全国採点</span> 集計
      <img src="/image/arrow_right.png" width=16px class='pointer' onclick='zenra.scoreBarChart.next()'>
    </p>
    <div id="score_bar_chart"></div>
  </div>
</div>

<div class="row" style="padding-top: 25px">
  <div id="history_column" class="col-xs-9">
    <div id="history_tabs" style="display: none;">
      <ul>
        <% if @current_user && @my_history && @my_history.size > 0 %>
        <li><a href="#tabs-user">あなたの歌唱履歴</a></li>
        <% end %>
        <li><a href="#tabs-all">みんなの歌唱履歴</a></li>
      </ul>
      <% if @current_user  && @my_history && @my_history.size > 0 %>
      <div id="tabs-user">
        <% @info = @my_history %>
        <%= erb :_song_detail_history %>
      </div>
      <% end %>
      <div id="tabs-all">
        <% @info = @history %>
        <%= erb :_song_detail_history %>
      </div>
    </div>
  </div>
  <div id="tag_column" class="col-xs-3">
    <h4 class="inline">登録済みタグ</h4>
    <% if @tags.size < 5 %>
      <span class="right"><a href="#">追加</a></span>
    <% end %>
    <form method="POST" action="song/<%= @song['id'] %>/tag/remove">
      <table width="100%">
        <% if @tags.size > 0 %>
          <% @tags.each do |tag| %>
          <tr>
            <td style="padding-top: 10px"><a href="/search?tag=<%= h tag %>"><%= h tag %></a></td>
            <td style="padding-top: 10px">
              <img src="/image/delete_tag.png" width="16px">
            </td>
          </tr>
          <% end %>
        <% else %>
          <p style="padding-top: 15px">タグが登録されていません</p>
        <% end %>
      </table>
    </form>
  </div>
</div>

<script>
  $('#history_tabs').tabs().show();
  zenra.createMonthlySangCountBarChart(<%= @song['id'] %> , "#sang_count_chart");
  zenra.scoreBarChart.init(<%= @song['id'] %> , 1 , <%= @score_type_num %> , "#score_bar_chart");
</script>
