<h3>
  <%= user_link @user['username'] , @user['screenname'] %> さんの楽曲一覧 
</h3>
<% if @pager && @pager.page_num > 1 %>
  <p class="right" id="range"><%= @song_list[:num] %> 曲中<%= @show_from %>~<%= @show_to %>曲目を表示中</p>
<% elsif @song_list[:num] > 0 %>
  <p class="right" id="range"><%= @song_list[:num] %> 曲表示中</p>
<% else %>
  <p class="right" id="range">楽曲が見つかりません</p>
<% end %>

<%= erb :_pager %>

<form method="GET">
  <p>
  <label for="filter">絞込み</label>
  <select id="filter_category" name="filter_category">
    <option value="song" <% if @filter_category == "song" %> selected <% end %>>曲名</option>
    <option value="artist" <% if @filter_category == "artist" %> selected <% end %>>アーティスト名</option>
    <option value="tag" <% if @filter_category == "tag" %> selected <% end %>>タグ名</option>
  </select>
  <input type="text" size="<% if Util.is_pc? %>20<% else %>10<% end %>" placeholder="絞込みワード" id="filter_word" name="filter_word" value="<%= @filter_word %>">
  </p>

  <p>
  <label>並び順</label>
  <select id="sort_category" name="sort_category">
    <option value="last_sang_datetime" <% if @sort_category == "last_sang_datetime" %> selected <% end %>>最後に歌った日</option>
    <option value="first_sang_datetime" <% if @sort_category == "first_sang_datetime" %> selected <% end %>>初めて歌った日</option>
    <option value="sang_count" <% if @sort_category == "sang_count" %> selected <% end %>>歌唱回数</option>
    <option value="song_name" <% if @sort_category == "song_name" %> selected <% end %>>曲名</option>
    <option value="artist_name" <% if @sort_category == "artist_name" %> selected <% end %>>アーティスト名</option>
  </select>
  <select id="sort_order" name="sort_order">
    <option value="desc" <% if @sort_order == 'desc' %> selected <% end %>>降順</option>
    <option value="asc" <% if @sort_order == 'asc' %> selected <% end %>>昇順</option>
  </select>
  </p>

  <p>
  <label>表示件数</label>
  <select id="pagenum" name="pagenum">
    <option value="24" <% if @pagenum == 24 %> selected <% end %>>24</option>
    <option value="48" <% if @pagenum == 48 %> selected <% end %>>48</option>
    <option value="72" <% if @pagenum == 72 %> selected <% end %>>72</option>
    <option value="96" <% if @pagenum == 96 %> selected <% end %>>96</option>
    <option value="120" <% if @pagenum == 120 %> selected <% end %>>120</option>
  </select>
  <% if @current_user && @current_user['username'] != @user['username'] %>
  <input type="checkbox" name="common" id="common" <% if @common %>checked<% end %>><label for="common">あなたと共通の持ち歌</label>
  <% end %>
  <input type="submit" value="表示" name="submit">
  <input type="submit" value="リセット" name="reset">
  </p>

  <% csrftoken %>
</form>

<table id="song_list_table" class='table'>
  <tbody>
    <% @song_list[:list].each_with_index do |song , idx| %>
      <% if idx % @columns == 0 %>
      <tr>
      <% end %>
        <td id="thumbnail_<%= idx %>" class='center' width='<% if Util.is_pc? %>20%<% else %>33%<% end %>'>
          <% if song['song_url'] %>
          <span id="song_name_<%= idx %>" class="hidden"><%= song["song_name"] %></span>
          <span id="artist_name_<%= idx %>" class="hidden"><%= song["artist_name"] %></span>
          <script>
          zenra.createThumbnail(
            "<%= idx %>" ,
            "<%= song['song_id'] %>" ,
            "<%= youtube_image song['song_url'] %>" ,
            "100%",
            "auto"
          );
          </script>
          <% else %>
          未登録
          <% end %>
        </td>
        <td width='<% if Util.is_pc? %>30%<% else %>67%<% end %>'>
          <p><%= song_link song['song_id'] , song['song_name'] %></p>
          <p><%= artist_link song['artist_id'] , song['artist_name'] %></p>
          <p class="mini">歌唱回数: <%= song['sang_count'] %></p>
          <p class="mini">
            最終歌唱日: <a class='lastSangKaraoke' href="/karaoke/detail/<%= song['last_sang_karaoke'] %>"><%= song['last_sang_datetime'] %></a>
          </p>
        </td>
      <% if idx + 1 % @columns == 0 %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<p class='right'><%= playlist_link @song_list[:list].map {|s| s['song_id']} %></p>

<%= erb :_pager %>
