<h2 class='center' style="margin-top: -5px">
  <%= h @song['name'] %> / <%= artist_link @song['artist'], @song['artist_name'] %>
  <% if @current_user %>
  <img id='editkaraoke' style="margin-left:5px; margin-bottom:8px" 
      class="center linkcursor" src="/image/edit.png" width="28"
      onclick="register.editSong(<%= @song['id'] %> , '<%= h @song['name'] %>' , '<%= h @song['artist_name'] %>' , '<%= h @song['url'] %>')"
  >
  <% end %>
</h2>

<div class="row">

  <div id="sang_count_chart_column" class="col-xs-3">
    <p>
      歌唱回数
      <span id="sangcount">みんな: <%= @sangcount %></span>
      <% if @current_user %><span id="my_sangcount">あなた: <%= @my_sangcount %></span><% end %>
    </p>
    <div id="sang_count_chart"></div>
    <div id="sang_count_chart_json" class='hidden'></div>
  </div>

  <div id="youtube_column" class="col-xs-6">
    <% if @song['url'] %>
      <%= movie_player @song['url'] , 560 , 315 %>
    <% else %>
      <p class='center'>Youtubeプレイヤー用のURLが未設定です</p>
    <% end %>
  </div>

  <div id="score_column" class="col-xs-3">
    <p class='center' style="margin-left: 25px">
      <img src="/image/arrow_left.png" width=16px class='pointer' onclick='zenra.scoreBarChart.prev()'>
      <span id="score_type_name">JOYSOUND 全国採点</span> 集計
      <img src="/image/arrow_right.png" width=16px class='pointer' onclick='zenra.scoreBarChart.next()'>
    </p>
    <div id="score_bar_chart"></div>
    <div id="score_bar_chart_json" class='hidden'></div>
  </div>
</div>

<div class="row" style="padding-top: 25px">
  <div id="history_column" class="col-xs-9">
    <div id="history_tabs" style="display: none;">
      <ul>
        <% if @current_user && @my_history && @my_history.size > 0 %>
        <li><a href="#tabs-user" id="tab-user">あなたの歌唱履歴</a></li>
        <% end %>
        <li><a href="#tabs-all" id="tab-all">みんなの歌唱履歴</a></li>
      </ul>
      <% if @current_user  && @my_history && @my_history.size > 0 %>
      <div id="tabs-user">
        <% @info = @my_history %>
        <% @info_id = 'song_detail_table_user' %>
        <%= erb :_song_detail_history %>
      </div>
      <% end %>
      <div id="tabs-all">
        <% @info = @history %>
        <% @info_id = 'song_detail_table_all' %>
        <%= erb :_song_detail_history %>
      </div>
    </div>
  </div>
  <div id="tag_column" class="col-xs-3">
    <table id="tag_list_table" width="100%">
      <th>
        <p id="tag_list_header"></p>
      </th>
      <th>
        <p><a id="add_tag" class='hidden' href="#" onclick="zenra.addSongTag(<%= @song['id'] %>)">追加</a></p>
      </th>
    </table>
  </div>
</div>

<script>
  $('#history_tabs').tabs().show();
  zenra.createMonthlySangCountBarChart('/ajax/song/tally/monthly/count' , <%= @song['id'] %> , "#sang_count_chart");
  zenra.scoreBarChart.init(<%= @song['id'] %> , 1 , <%= @score_type_num %> , "#score_bar_chart");
  zenra.showSongTagList(<%= @song['id'] %>);
</script>
