<h2>
	<%= @song['name'] %> /
	<%= artist_link @song['artist'], @song['artist_name'] %>
</h2>

<div>
	<% if @song['url'] %>
		<%= tube @song['url'] , 560 , 315 %>
	<% end %>
</div>

<h4>この曲が歌われた回数</h4>
<p>みんな: <%= @song['sangcount'] %></p>
<p>あなた: <%= @my_sangcount %></p>

<h4>この曲のみんなの採点結果(全国採点オンライン２)</h4>
<p>最高: <%= h @song['score_max'] %></p>
<p>最低: <%= h @song['score_min'] %></p>
<p>平均: <%= h @song['score_avg'] %></p>

<h4>この曲のあなたの採点結果(全国採点オンライン２)</h4>
<p>最高: <%= h @my_score['score_max'] %></p>
<p>最低: <%= h @my_score['score_min'] %></p>
<p>平均: <%= h @my_score['score_avg'] %></p>

<h4>この曲のみんなの歌唱履歴</h4>
<table class="table table-striped">
	<thead>
		<th class='cell-datetime'>日付</th>
		<th>内容</th>
		<th>ユーザ</th>
		<th class='cell-number'>キー</th>
		<th>採点モード</th>
		<th class='cell-number'>得点</th>
	</thead>
	<tbody>
		<% @song['sang_history'].each do |sang| %>
		<tr>
			<td><%= sang['datetime'] %></td>
			<td><%= karaoke_link sang['karaoke_id'], sang['karaoke_name'] %></td>
			<td><%= sang['user_screenname'] %></td>
			<td class='center'><%= sang['songkey'] %></td>
			<td><%= sang['score_type'] %></td>
			<td class='center'><%= h sang['score'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h4>この曲のあなたの歌唱履歴</h4>
<table class="table table-striped">
	<thead>
		<th class='cell-datetime'>日付</th>
		<th>内容</th>
		<th>ユーザ</th>
		<th class='cell-number'>キー</th>
		<th>採点モード</th>
		<th class='cell-number'>得点</th>
	</thead>
	<tbody>
		<% @my_sang_history.each do |sang| %>
		<tr>
			<td><%= sang['datetime'] %></td>
			<td><%= karaoke_link sang['karaoke_id'], sang['karaoke_name'] %></td>
			<td><%= sang['user_screenname'] %></td>
			<td class='center'><%= sang['songkey'] %></td>
			<td><%= sang['score_type'] %></td>
			<td class='center'><%= h sang['score'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
