<div class="container-fluid">
  <div id="div_column" class="row">
    <!-- 左カラム -->
    <div class="col-xs-2 center">
      <p style="font-size: 20px"><%= h @user['screenname'] %></p>
      <div id="user_icon">
        <%= user_icon @user['username'] , '100%' , '100%' %>
      </div>
      <a href="#" onclick="zenra.showAggregateDialog('<%= @user['username'] %>')">集計情報を表示</a>
    </div>
    <!-- 右カラム -->
    <div class="col-xs-6">
      <h4>一番歌っている曲</h4>
      
      <% if @histories.size > 0 %>
        <table id="most_sang_song_table" class="table" style="clear: both">
          <tbody style="background-color: white">
            <tr>
              <th>回数</th>
              <th>曲</th>
              <th>歌手</th>
            </tr>
            <tr>
              <td><%= @most_sang_song['counter'] %>回</td>
              <td><%= song_link @most_sang_song['song'], @most_sang_song['song_name'] %></td>
              <td><%= artist_link @most_sang_song['artist'], @most_sang_song['artist_name'] %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        歌唱履歴がありません
      <% end %>
      
      <h4>最高点数</h4>
      <% if @histories.size > 0 %>
        <table id="max_score_table" class="table" style="clear: both">
          <tbody style="background-color: white">
            <tr>
              <th>点数</th>
              <th>曲</th>
              <th>歌手</th>
              <th>採点方法</th>
            </tr>
            <tr>
              <td><%= h @max_score['score'] %>点</td>
              <td><%= song_link @max_score['song'], @max_score['song_name']%></td>
              <td><%= artist_link @max_score['artist'], @max_score['artist_name'] %></td>
              <td><%= @max_score['scoretype_name'] %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        歌唱履歴がありません
      <% end %>
  </div>
  <div class="col-xs-4">
    <% if @histories.size > 0 %>
    <h4>よく歌うアーティストベスト１０</h4>
    <div id="user_sang_artists_chart"></div>
    <script>zenra.createFavoriteArtistsPieChart('#user_sang_artists_chart' , "<%= @user['username'] %>");</script>
    <% end %>
  </div>
</div>

<div id="recent" class="row">
  <div class="col-xs-6">
    <div class="recent_karaoke_area">
      <h3>最近のカラオケ</h3>
    </div>
    <!-- 最近のカラオケ情報 -->
    <% if @karaoke_list.size > 0 %>
    <table id="recent_karaoke_table" class="table table-hover linkcursor" style="clear: both">
      <thead style="background-color: white">
        <tr>
          <th class='center' style="width=30%">日時</th>
          <th class="center">カラオケ名</th>
        </tr>
      </thead>
      <tbody style="background-color: white">
        <% @karaoke_list.each do |karaoke| %>
          <tr onclick="location.href='/karaoke/detail/<%= karaoke['id'] %>'">
            <td class="center"><%= karaoke['datetime'] %></td>
            <td class="center"><%= h karaoke['name'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      カラオケ記録がありません
    <% end %>
  </div>

  <div class="col-xs-6">
    <div class="recent_sang_area">
      <h3>最近歌った曲</h3>
    </div>
    <!-- 最近歌った曲情報 -->
    <% if @histories.size > 0 %>
    <table id="recent_sang_table" class="table table-hover linkcursor" style="clear: both">
      <thead style="background-color: white">
        <tr>
          <th>曲</th>
          <th>歌手</th>
        </tr>
      </thead>
      <tbody style="background-color: white">
        <% @histories.each do |history| %>
          <tr>
            <td><%= song_link history['song'], history['song_name'] %></td>
            <td><%= artist_link history['artist_id'], history['artist_name'] %></td>
          </tr>
        <% end %>
        </tr>
      </tbody>
    </table>
    <% else %>
      歌唱履歴がありません
    <% end %>
  </div>
</div>
