<%= csrftoken %>
<div class="container-fluid">
  <div id="div_column" class="row">
    <!-- 左カラム -->
    <div class="col-xs-2 center">
      <%= erb :_user_page_userinfo %>
    </div>
    <!-- 右カラム -->
    <div class="col-xs-6">
      <%= erb :_user_page_sanginfo %>
    </div>
    <div class="col-xs-4">
      <%= erb :_user_page_favorite_artists %>
    </div>
</div>

<div id="recent" class="row">
  <div class="col-xs-6">
    <%= erb :_user_page_recent_karaoke %>
  </div>

  <div class="col-xs-6">
    <%= erb :_user_page_recent_song %>
  </div>
</div>

<% if @show_aggregate %>
<script>
zenra.showAggregateDialog('<%= @user['username'] %>')
</script>
<% end %>
