<%= csrftoken %>

<!-- PC -->
<% if Util.is_pc? %>
  <div class="container-fluid">
    <div id="div_column" class="row">
      <!-- 左カラム -->
      <div class="col-xs-2 center">
        <%= erb :_user_page_userinfo %>
      </div>
      <!-- 右カラム -->
      <div class="col-xs-6">
        <%= erb :_user_page_sanginfo %>
      </div>
      <div class="col-xs-4">
        <%= erb :_user_page_favorite_artists %>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= erb :_user_page_song_list %>
    </div>
    <div class="col-xs-6">
      <%= erb :_user_page_recent_song %>
    </div>
  </div>

  <div id="recent" class="row">
    <div class="col-xs-6">
      <%= erb :_user_page_friend_list %>
    </div>
    <div class="col-xs-6">
      <%= erb :_user_page_recent_karaoke %>
    </div>
  </div>
<% else %>

<!-- スマートフォン -->
  <div class="center row">
    <%= erb :_user_page_userinfo %>
    <hr>
    <%= erb :_user_page_sanginfo %>
    <hr>
    <%= erb :_user_page_favorite_artists %>
    <hr>
    <%= erb :_user_page_recent_karaoke %>
    <hr>
    <%= erb :_user_page_recent_song %>
    <hr>
    <div></div>
  </div>
<% end %>

<% if @show_aggregate %>
<script>
zenra.showAggregateDialog('<%= @user['username'] %>')
</script>
<% end %>
