<div id="aggregate" class="color-box-content" title="集計情報">

  <div>
    <fieldset>
      <div id="user-aggregate-year" class="switch-toggle switch-ios">
        <input id="all" value="" name="year" type="radio" checked>
        <label for="all">総合</label>
        <input id="2017" value="2017" name="year" type="radio" <%= @year == '2017' ? 'checked' : '' %>>
        <label for="2017">2017</label>
        <input id="2016" value="2016" name="year" type="radio" <%= @year == '2016' ? 'checked' : '' %>>
        <label for="2016">2016</label>
        <a></a>
      </div>
    </fieldset>
  </div>

  <h3>カラオケ記録</h3>
  <table id="karaoke_aggregate_table" class="table table-hover">
    <tr>
      <td>カラオケに行った回数</td>
      <td><%= @agg['karaoke_num'] %> 回</td>
    </tr>
    <tr>
      <td>総カラオケ時間</td>
      <td><%= @agg['total_karaoke_time'] %> 時間</td>
    </tr>
    <tr>
      <td>総出費</td>
      <td><%= @agg['total_spending'] %> 円</td>
    </tr>
  </table>

  <h3>歌唱記録</h3>
  <table id="sang_aggregate_table" class="table table-hover">
    <tr>
      <td>総歌唱回数</td>
      <td><%= @agg['sang_count'] %> 曲</td>
    </tr>
    <tr>
      <td>持ち歌数</td>
      <td><%= @agg['song_num'] %> 曲</td>
    </tr>
    <tr>
      <td>持ち歌手数</td>
      <td><%= @agg['artist_num'] %> 組</td>
    </tr>
    <tr>
      <td>楽曲リピート率</td>
      <td><%= @agg['repeat_rate'] %> %</td>
    </tr>
  </table>

  <h3>機種別集計</h3>
  <table id="product_aggregate_table" class="table table-hover">
    <tr>
      <th></th>
      <th>利用回数</th>
      <th>歌唱回数</th>
    </tr>
    <tr>
      <th>JOYSOUND MAX</th>
      <td><%= @agg['product4_num'] %> 回</td>
      <td><%= @agg['product4_sang_count'] %> 曲</td>
    </tr>
    <tr>
      <th>JOYSOUND f1</th>
      <td><%= @agg['product3_num'] %> 回</td>
      <td><%= @agg['product3_sang_count'] %> 曲</td>
    </tr>
    <tr>
      <th>JOYSOUND CROSSO</th>
      <td><%= @agg['product2_num'] %> 回</td>
      <td><%= @agg['product2_sang_count'] %> 曲</td>
    </tr>
    <tr>
      <th>JOYSOUND WAVE</th>
      <td><%= @agg['product1_num'] %> 回</td>
      <td><%= @agg['product1_sang_count'] %> 曲</td>
    </tr>
    <tr>
      <th>LIVE DAM</th>
      <td><%= @agg['product6_num'] %> 回</td>
      <td><%= @agg['product6_sang_count'] %> 曲</td>
    </tr>
    <tr>
      <th>Premier DAM</th>
      <td><%= @agg['product5_num'] %> 回</td>
      <td><%= @agg['product5_sang_count'] %> 曲</td>
    </tr>
    <tr>
      <th>その他</th>
      <td><%= @agg['product7_num'] %> 回</td>
      <td><%= @agg['product7_sang_count'] %> 曲</td>
    </tr>
  </table>

  <h3>採点別集計</h3>
  <table id="score_aggregate_table" class="table table-hover">
    <tr>
      <th></th>
      <th>挑戦回数</th>
      <th>最高点</th>
      <th>平均点</th>
    </tr>
    <tr>
      <th>JOYSOUND 全国採点</th>
      <td><%= @agg['score_type1_num'] %> 曲</td>
      <td><%= @agg['score_type1_max'] %> 点</td>
      <td><%= @agg['score_type1_avg'] %> 点</td>
    </tr>
    <tr>
      <th>JOYSOUND 分析採点</th>
      <td><%= @agg['score_type2_num'] %> 曲</td>
      <td><%= @agg['score_type2_max'] %> 点</td>
      <td><%= @agg['score_type2_avg'] %> 点</td>
    </tr>
    <tr>
      <th>JOYSOUND その他</th>
      <td><%= @agg['score_type3_num'] %> 曲</td>
      <td><%= @agg['score_type3_max'] %> 点</td>
      <td><%= @agg['score_type3_avg'] %> 点</td>
    </tr>
    <tr>
      <th>DAM ランキングバトル</th>
      <td><%= @agg['score_type4_num'] %> 曲</td>
      <td><%= @agg['score_type4_max'] %> 点</td>
      <td><%= @agg['score_type4_avg'] %> 点</td>
    </tr>
    <tr>
      <th>DAM 精密採点</th>
      <td><%= @agg['score_type5_num'] %> 曲</td>
      <td><%= @agg['score_type5_max'] %> 点</td>
      <td><%= @agg['score_type5_avg'] %> 点</td>
    </tr>
    <tr>
      <th>DAM その他</th>
      <td><%= @agg['score_type6_num'] %> 曲</td>
      <td><%= @agg['score_type6_max'] %> 点</td>
      <td><%= @agg['score_type6_avg'] %> 点</td>
    </tr>
    <tr>
      <th>その他</th>
      <td><%= @agg['score_type7_num'] %> 曲</td>
      <td><%= @agg['score_type7_max'] %> 点</td>
      <td><%= @agg['score_type7_avg'] %> 点</td>
    </tr>
  </table>
</div>

<script>
$(function() {
  var currentType = '<%= @year %>';
  var user = '<%= @user["username"] %>';
  $('.switch-toggle input[type=radio]').change(function() {
    var year = $('#user-aggregate-year input:checked').val();
    var url = '/user/aggregate/' + user;
    if (year != "") {
      url += '?year=' + year;
    }
    setTimeout(function() { location.href = url; } , 300);
    zenra.getLoader().show();
  });
});
</script>
